source_url "https://raw.githubusercontent.com/cachix/devenv/82c0147677e510b247d8b9165c54f73d32dfd899/direnvrc" "sha256-7u4iDd1nZpxL4tCzmPG0dQgC5V+/44Ba+tHkPob1v2k="
# ☝ to be replaced with: eval "$(devenv direnvrc)"
# in v1.4+ (24.11 serves 13.1 as of now)

use devenv